body,
html {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  background-color: skyblue;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.header {
  color: white;
  text-align: center;
}

.todos {
  height: 400px;
  overflow: auto;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: yellowgreen;
}

.developer {
  background-color: gold;
  width: 150px;
  text-align: center;
  color: white;
  transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  left: -10px;
}
